.listing-status{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1.2rem;
    margin-top: 2rem;
}
.status-description{
    color: var(--font-primary);
    letter-spacing: 0.1rem;
    font-size: 1rem;
}
