@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900&display=swap');
:root{
    --primary:#FFCA3F;
    --background-primary:#222222;
    --background-secondary:#2F2F30;
    --font-primary:#ffff;
    --font-secondary:#b1acac;
}
*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto Flex', sans-serif;
}