.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: var(--background-primary);
    width: 82.5%;
}
.container-header{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: center;
    width: 100%;
}
.container-header-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.header-text{
    font-size: 1.7rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    color: var(--font-primary);
}
.header-icon{
    width: 2rem;
    height: 100%;
    padding-top: 0.5rem;
}
.btn-link-primary{
    text-decoration: none;
    color: var(--font-dark);
    font-weight: 700;
    background-color: var(--primary);
    padding: 0.5rem 0.8rem 0.5rem 0.8rem;
    border-radius: 0.5rem;
    transition: 0.3s;
}
.btn-link-primary:hover, .btn-primary:hover{
    cursor: pointer;
    box-shadow: 0px 0px 4px 0px #f1d180;
    transform: scale(1.01);
    transition: 0.3s;
    color: var(--font-primary);

  
}
.btn-primary{
    font-size: 1rem;
    color: var(--font-dark);
    font-weight: 700;
    background-color: var(--primary);
    padding: 0.5rem 0.8rem 0.5rem 0.8rem;
    border: none;
    border-radius: 0.5rem;
    transition: 0.3s;
    margin: 1rem;
}